.home{
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100vw;
    height: 100vh;
}

.homeLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homeRight{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}

.flama{
    position: absolute;
    width: 425px;
    height: 252px;
    left: 19px;
    top: -3px;
    overflow: visible;
}

.flama_m{
    left: 0px;
    top: 19px;
    position: absolute;
    overflow: visible;
    width: 426px;
    height: 252px;
    text-align: left;
    font-family: Biancha;
    font-style: normal;
    font-weight: normal;
    font-size: 107px;
    color: rgba(254,254,254,1);
}

.homeRightOption{
    transform: translate(1.5px, -0.75px) matrix(1,0,0,1,-29,80) rotate(90deg);
		transform-origin: center;
		 
		font-family: Didot;
		font-size: 38px;
		color: rgba(254,254,254,1);
        margin-right: -30px;
        max-height: 100px;
}

.modalContent{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin: 0;
    padding: 0;
}