@font-face {
  font-family: "Biancha";
  src: local("Biancha"), url(../../assets/fonts/Biancha.otf) format("otf");
}

@font-face {
  font-family: "SnellRoundhand";
  src: local("SnellRoundhand"),
    url(../../assets/fonts/Biancha.otf) format("otf");
}

@font-face {
  font-family: "gilroy";
  src: local("gilroy"), url(../../assets/fonts/gilroy.ttf) format("ttf");
}

@font-face {
  font-family: "Didot";
  src: local("Didot"), url(../../assets/fonts/Didot.ttc) format("ttc");
}


@font-face {
    font-family: "Biancha-X3VOa";
    src: local("Biancha-X3VOa"), url(../../assets/fonts/Biancha-X3VOa.otf) format("otf");
  }

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.home {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100vw;
  height: 100vh;
}

.homeLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2%;
}

.homeRight {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flama {
  position: absolute;
  width: 425px;
  height: 252px;
  left: 2%;
  top: -3px;
  overflow: visible;
  font-family: Biancha;
  z-index: 1;
}

.flama_m {
  left: 2%;
  top: 19px;
  position: absolute;
  overflow: visible;
  width: 426px;
  height: 252px;
  text-align: left;
  font-family: Biancha;
  font-style: normal;
  font-weight: normal;
  font-size: 107px;
  color: rgba(254, 254, 254, 1);
  z-index: 3;
  opacity: 1;
}

.icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0%;
}

.icons > img {
  width: 24px;
  height: 24px;
  color: white;
  margin-bottom: 8px;
}

/* gallery menu */

.galleryy {
  display: flex;
  justify-content: flex-end;
}
#galeria-menu-item {
  width: 47px;
  height: 254px;
  overflow: visible;
  display: flex;
  justify-content: flex-end;
}

#galeria-menu-item_z {
  width: 51px;
  height: 252.5px;
  overflow: visible;
  display: flex;
  justify-content: center;
}

.Line_Copy {
  position: fixed;
  top: 30%;
  right: 2.7%;
  overflow: visible;
  width: 2.524px;
  height: 43.524px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  /* tol component right move */
  padding-left: 20px;
}

#Line_Copy {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}

.Line_Copy_2 {
  position: fixed;
  top: 60%;
  right: 2.7%;
  overflow: visible;
  width: 2.524px;
  height: 43.524px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Line_Copy_2 {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}

#Galera {
  position: fixed;
  top: 30%;
  left: 95.5%;

  transform: translate(4px, -1.25px) matrix(1, 0, 0, 1, -52, 112.5)
    rotate(90deg);
  transform-origin: center;
  overflow: visible;
  width: 148px;
  height: 51px;
  text-align: left;
  font-family: Didot;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  color: rgba(254, 254, 254, 1);
  /* bara ka */
  /* padding-right: 40px;   */
}

/*  */
.modalContent {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  margin: 0;
  padding: 0;
}

#musica-menu-item {
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 180px;
  height: 47px;
  overflow: visible;
}

#musica-menu-item_u {
  width: 179.625px;
  height: 51px;
  overflow: visible;
}

.Line_Copy_5 {
  overflow: visible;
  width: 32.015px;
  height: 2.27px;
  /* left align */
  padding-left: 9px;
  /* transform: matrix(1,0,0,1,0,0); */
}

#Line_Copy_5 {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}

#Msica {
  overflow: visible;
  width: 125px;
  height: 51px;
  text-align: left;
  font-family: Didot;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  color: rgba(254, 254, 254, 1);
}

.Line_Copy_6 {
  overflow: visible;
  width: 43.503px;
  height: 2px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Line_Copy_6 {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}

.homeRightOption {
  transform: translate(1.5px, -0.75px) matrix(1, 0, 0, 1, -29, 80) rotate(90deg);
  transform-origin: center;
  font-family: Didot;
  font-size: 38px;
  color: rgba(254, 254, 254, 1);
  margin-right: -30px;
  max-height: 100px;
  position: fixed;
  top: 2%;
  left: 97.5%;
}

.Line {
  overflow: visible;
  position: fixed;
  width: 2.524px;
  height: 43.524px;
  left: 97%;
  top: 3%;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}


@media screen and (max-width: 860px) {
   
    
  
    #Galera {
      top: 30.7%;
      left: 94%;
    }
     
    
    
  }

  /* @media screen and (max-width: 900px) {
   
    
  
    #Galera {
      top: 31.7%;
      left: 92%;
    }
     
    
    
  } */

  @media screen and (max-width: 560px) {
   
    
  
    #Galera {
      top: 31.7%;
      left: 92%;
    }
     
    
    
  }

@media screen and (max-width: 460px) {
    .flama {
      width: 225px;
      height: 100px;
    }
  
    .flama_m {
      width: 225px;
      height: 100px;
  
      font-size: 58px;
    }
    .icons > img {
      width: 16px;
      height: 16px;
    }
  
    #galeria-menu-item {
      width: 27px;
      height: 154px;
    }
  
    #galeria-menu-item_z {
      width: 31px;
      height: 152.5px;
    }
  
    .Line_Copy {
      top: 35%;
      right: 2.7%;
  
      width: 1.524px;
      height: 23.524px;
    }
  
    .Line_Copy_2 {
      top: 53.5%;
      right: 2.7%;
  
      width: 1.524px;
      height: 23.524px;
    }
  
    #Galera {
      top: 31.7%;
      left: 92%;
    }
    .galleryText {
      font-size: 20px;
      padding-right: 20px;
      margin-right: 20px;
    }
  
    #musica-menu-item {
      
      width: 120px;
      height: 37px;
       
    }
    
    #musica-menu-item_u {
      width: 100px;
      height: 31px;
    
    }
    
    .Line_Copy_5 {
      padding-top: 5px;
      
      width: 32.015px;
      height: 2.27px;
      /* left align */
      padding-left: 9px;
      position: relative;
      bottom: -15%;
      /* transform: matrix(1,0,0,1,0,0); */
    }
    
    #Line_Copy_5 {
      
      stroke-width: 1px;
       
    }
    
    #Msica {
   
      width: 125px;
      height: 31px;
      position: relative;
      bottom: 10%;
      font-size: 20px;
      color: rgba(254, 254, 254, 1);
    }
    
    .Line_Copy_6 {
      width: 43.503px;
      height: 2px;
     
       
    }
    
    #Line_Copy_6 {
       
      stroke-width: 1px;
      
    }
  
  
    .homeRightOption {
     
      font-size: 20px;
      top: 2%;
      left: 99.7%;
    }
    
    .Line {
      
      width: 1.524px;
      height: 43.524px;
      left: 97%;
      top: 5%;
      
    }
    #Line {
      
      stroke-width: 1px;
      
    }
    
    
  }


@media screen and (max-width: 360px) {
  .flama {
    width: 225px;
    height: 100px;
  }

  .flama_m {
    width: 225px;
    height: 100px;

    font-size: 58px;
  }
  .icons > img {
    width: 16px;
    height: 16px;
  }

  #galeria-menu-item {
    width: 27px;
    height: 154px;
  }

  #galeria-menu-item_z {
    width: 31px;
    height: 152.5px;
  }

  .Line_Copy {
    top: 35%;
    right: 2.7%;

    width: 1.524px;
    height: 23.524px;
  }

  .Line_Copy_2 {
    top: 53.5%;
    right: 2.7%;

    width: 1.524px;
    height: 23.524px;
  }

  #Galera {
    top: 31.7%;
    left: 90%;
  }
  .galleryText {
    font-size: 20px;
    padding-right: 20px;
    margin-right: 20px;
  }

  #musica-menu-item {
    
    width: 120px;
    height: 37px;
     
  }
  
  #musica-menu-item_u {
    width: 100px;
    height: 31px;
  
  }
  
  .Line_Copy_5 {
    padding-top: 5px;
    
    width: 32.015px;
    height: 2.27px;
    /* left align */
    padding-left: 9px;
    position: relative;
    bottom: -15%;
    /* transform: matrix(1,0,0,1,0,0); */
  }
  
  #Line_Copy_5 {
    
    stroke-width: 1px;
     
  }
  
  #Msica {
 
    width: 125px;
    height: 31px;
    position: relative;
    bottom: 10%;
    font-size: 20px;
    color: rgba(254, 254, 254, 1);
  }
  
  .Line_Copy_6 {
    width: 43.503px;
    height: 2px;
   
     
  }
  
  #Line_Copy_6 {
     
    stroke-width: 1px;
    
  }


  .homeRightOption {
   
    font-size: 20px;
    top: 2%;
    left: 99.7%;
  }
  
  .Line {
    
    width: 1.524px;
    height: 43.524px;
    left: 95.5%;
    top: 5%;
    
  }
  #Line {
    
    stroke-width: 1px;
    
  }
  
  
}


