@font-face {
  font-family: "Biancha";
  src: local("Biancha"), url(../../assets/fonts/Biancha.otf) format("otf");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

.home {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100vw;
  height: 100vh;
}

.homeLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homeRight {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flama {
  position: absolute;
  width: 425px;
  height: 252px;
  left: 19px;
  top: -3px;
  overflow: visible;
  font-family: Biancha;
}

.flama_m {
  left: 0px;
  top: 19px;
  position: absolute;
  overflow: visible;
  width: 426px;
  height: 252px;
  text-align: left;
  font-family: Biancha;
  font-style: normal;
  font-weight: normal;
  font-size: 107px;
  color: rgba(254, 254, 254, 1);
}

/* gallery menu */

.galleryy {
  display: flex;
  justify-content: flex-end;
}
#galeria-menu-item {
  width: 47px;
  height: 254px;
  overflow: visible;
  display: flex;
  justify-content: flex-end;
}

#galeria-menu-item_z {
  width: 51px;
  height: 252.5px;
  overflow: visible;
  display: flex;
  justify-content: center;
}

.Line_Copy {
  position: fixed;
  top: 30%;
  right: 4.7%;
  overflow: visible;
  width: 2.524px;
  height: 43.524px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  /* tol component right move */
  padding-left: 20px;
}

#Line_Copy {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}

.Line_Copy_2 {
  position: fixed;
  top: 60%;
  right: 4.7%;
  overflow: visible;
  width: 2.524px;
  height: 43.524px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Line_Copy_2 {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}

#Galera {
  position: fixed;
  top: 32%;
  right: 0%;
  left: 93.5%;
  transform: translate(4px, -1.25px) matrix(1, 0, 0, 1, -52, 112.5)
    rotate(90deg);
  transform-origin: center;
  overflow: visible;
  width: 148px;
  height: 51px;
  text-align: left;
  font-family: Didot;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  color: rgba(254, 254, 254, 1);
  /* bara ka */
  /* padding-right: 40px;   */
}
/*  */
.modalContent {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  margin: 0;
  padding: 0;
}

#musica-menu-item {
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 180px;
  height: 47px;
  overflow: visible;
}

#musica-menu-item_u {
  width: 179.625px;
  height: 51px;
  overflow: visible;
}

.Line_Copy_5 {
  overflow: visible;
  width: 32.015px;
  height: 2.27px;
  /* transform: matrix(1,0,0,1,0,0); */
}

#Line_Copy_5 {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}

#Msica {
  overflow: visible;
  width: 125px;
  height: 51px;
  text-align: left;
  font-family: Didot;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  color: rgba(254, 254, 254, 1);
}

.Line_Copy_6 {
  overflow: visible;
  width: 43.503px;
  height: 2px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Line_Copy_6 {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}

.homeRightOption {
  transform: translate(1.5px, -0.75px) matrix(1, 0, 0, 1, -29, 80) rotate(90deg);
  transform-origin: center;
  font-family: Didot;
  font-size: 38px;
  color: rgba(254, 254, 254, 1);
  margin-right: -30px;
  max-height: 100px;
  position: fixed;
  top: 2%;
  right: 50px;
}

.Line {
  overflow: visible;
  position: fixed;
  width: 2.524px;
  height: 43.524px;
  right: 69.25px;
  top: 20px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
