.gallery{
    height: 600px;
    width: 500px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   overflow: auto;
}

.galleryItem{
    margin: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.gallery::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .gallery {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .imageShow{
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: display 2000ms ease-in-out;
  }

  .imageShowClose{
      /* width: 100%; */
      /* display: flex;
      justify-content: flex-end; */
      position: absolute;
      top: 2%;
      right: 2%;
  }

  .imageCloseButton{
      color: white;
      margin: 3px;
  }

  .pointer{
      cursor: pointer;
  }

  .openedImageWrapper{
      justify-content: center;
  }

  .openedImageWrapper img{
    webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

  .transparent{
        opacity:0;
  }